body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

.app__container {
  background-color: #fff;
  left: 15rem;
  min-height: 100vh;
  position: fixed;
  top: 3.5rem;
  width: calc(100vw - 15rem);
}

.login__container {
  background-color: #f0f2f5;
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh;
  width: 100vw;
}

.login__logo {
  width: 10.25rem;
  padding-left: 2.125rem;
}

.login__logo img {
  width: 10.25rem !important;
}

.login__welcome {
  padding-left: 10.5rem;
  padding-top: 13.5rem;
}

.login__welcome img {
  width: 18.75rem;
}

.mt-18 {
  margin-top: -1.125rem;
}

.login__welcome p {
  font-size: 2rem;
  padding-left: 2.125rem;
}

.login__form-container {
  padding-top: 6.5rem;
}

.login__form {
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 1.25rem;
  width: 24.75rem;
}

.login__form input {
  border: 1px solid #e5e7eb;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.login__submit-btn {
  background-color: #3565f2;
  border: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  padding: 0.875rem 1rem;
  width: 100%;
}

.login__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login__forgot-password {
  border-bottom: 1px solid #e5e7eb;
  color: #3565f2;
  display: block;
  font-size: 0.9375rem;
  padding: 1.25rem 0;
  text-align: center;
}

.login__forgot-password:hover {
  cursor: pointer;
}

.login__signup {
  color: #3565f2;
  display: block;
  font-size: 0.9375rem;
  padding: 1.25rem 0;
  text-align: center;
}

.login__signup:hover {
  cursor: pointer;
  opacity: 0.8;
}

.loading {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Sit on top */
}

.lds-roller {
  display: inline-block;
  height: 5rem;
  left: 48%;
  position: fixed;
  top: 50%;
  width: 5rem;
  z-index: 100;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #3565f2;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The Modal (background) */
.signup {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.signup__content {
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 10%;
  width: 27rem; /* Could be more or less, depending on screen size */
}

.signup__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signup__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0 0.5rem 1.25rem;
}

.signup__close {
  align-items: center;
  display: grid;
  justify-items: right;
  padding: 1.25rem 1.25rem 0.5rem 0;
}

.signup__close img:hover {
  cursor: pointer;
}

.signup__subtitle {
  background: #e5e7eb;
  height: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.signup__form {
  width: 100%;
  padding: 1.25rem;
}

.signup__form input {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.signup__form select {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  display: block;
  font-size: 0.9375rem;
  height: 2.625rem;
  margin-bottom: 0.75rem;
  outline: none;
  padding: 0 1rem;
  width: 100%;
}

.signup__btn {
  background-color: #3565f2;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 1.25rem auto;
  outline: none;
  padding: 0.875rem 1rem;
}

.signup__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.25rem 0;
  width: 100%;
}

.header__app-name {
  color: #000;
  font-weight: bold;
}

.header__left {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content max-content;
  padding-left: 0.5rem;
}

.header__left svg {
  width: 1.5rem;
  height: 1.5rem;
}

.header__image-wrapper {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left img {
  object-fit: cover;
}

.header__right {
  align-items: center;
  display: grid;
  font-size: 0.875rem;
  grid-gap: 0.25rem;
  grid-template-columns: max-content max-content max-content;
  justify-content: right;
  padding-right: 2rem;
}

.header__action-title {
  align-items: center;
  color: #000;
  display: grid;
  font-size: 0.875rem;
  justify-content: right;
  padding-right: 0.5rem;
}

.header__right img {
  width: 1.5rem;
}

.header__actions {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: max-content max-content max-content max-content max-content;
  justify-content: right;
}

.header__action-title span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

.search__container {
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.search__container img {
  width: 8rem;
}

.search__input {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search__input input {
  border-radius: 999px;
  border: 1px solid #e2e8f0;
  padding: 0.5rem 1rem;
  width: 68%;
}

.search__input button {
  background: #3565f2;
  border-radius: 999px;
  border: none;
  color: #fff;
  font-weight: bold;
  margin-left: 0.5rem;
  outline: none;
  padding: 0 1rem;
}

.search__input button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* The Modal (background) */
.sell {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.sell__content {
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 10%;
  width: 27rem; /* Could be more or less, depending on screen size */
}

.sell__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sell__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0 0.5rem 1.25rem;
}

.sell__close {
  align-items: center;
  display: grid;
  justify-items: right;
  padding: 1.25rem 1.25rem 0.5rem 0;
}

.sell__close img:hover {
  cursor: pointer;
}

.sell__subtitle {
  background: #e5e7eb;
  height: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.sell__form {
  width: 100%;
  padding: 1.25rem;
}

.sell__file {
  display: none !important;
}

.sell__form input {
  background-color: #f3f4f6;
  border-radius: 999px;
  border: 1px solid #e5e7eb;
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.sell__upload {
  background-color: #f3f4f6;
  border-radius: 999px;
  border: 1px solid #e5e7eb;
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.sell__upload:hover {
  cursor: pointer;
}

.sell__image {
  margin-bottom: 0.5rem;
  text-align: center;
}

.sell__image img {
  border-radius: 0.5rem;
  height: 6rem;
  object-fit: cover;
  width: 6rem;
}

.sell__image img:hover {
  cursor: pointer;
}

.sell__btn {
  
  background-color: #3565f2;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 1.25rem auto;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 999px;

}

.sell__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.info__container {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-top: 3.5rem;
  width: 100%;
}

.products__container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
}

.product {
  text-align: center;
}

.product img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.product p {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}

.product:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* The Modal (background) */
.detail {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.detail__content {
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 10%;
  width: 48rem; /* Could be more or less, depending on screen size */
}

.detail__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.detail__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
}

.detail__close {
  align-items: center;
  display: grid;
  justify-items: right;
  padding: 1rem;
}

.detail__close img:hover {
  cursor: pointer;
}

.detail__subtitle {
  background: #e5e7eb;
  height: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.detail__info {
  display: flex;
  padding-bottom: 2rem;
}

.detail__left {
  padding-left: 1rem;
}

.detail__left img {
  height: 20rem;
  object-fit: cover;
  width: 20rem;
}

.detail__ptitle {
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 1rem;
}

.detail__pquantity {
  border: 1px solid #ccc;
  margin: 1rem 0 1rem 1rem;
  padding: 0.5rem;
  width: 3rem;
}

.detail__pdescription {
  border-top: 1px solid #e2e8f0;
  padding: 1rem;
  text-align: justify;
}

.detail__actions {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem 1rem 1rem;
}

.detail__actions button {
  background-color: #3565f2;
  border-radius: 999px;
  border: none;
  color: #fff;
  outline: none;
  padding: 0.5rem 1rem;
}

.detail__actions button:nth-child(1) {
  background-color: #35589A;
}

.detail__actions button:nth-child(2) {
  background-color: #F14A16;
}

.detail__actions button:nth-child(3) {
  background-color: #FC9918;
}

.detail__actions button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cart__container {
  padding-top: 3.5rem;
  text-align: center;
}

.cart__item {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 2rem;
  margin: 0 auto;
  padding: 2rem;
  width: 68%;
}

.cart__item-left {
  display: flex;
}

.cart__item-img img {
  height: 5rem;
  object-fit: cover;
  width: 5rem;
}

.cart__item-info p {
  font-weight: bold;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
}

.cart__item-right {
  align-items: center;
  display: grid;
  justify-content: right;
}

.cart__item-right button {
  background: #ef4444;
  border-radius: 999px;
  border: none;
  color: #fff;
  font-weight: bold;
  outline: none;
  padding: 0.5rem 1rem;
}

.cart__item-right button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cart__totalc {
  display: grid;
  font-weight: bold;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 1rem 2rem;
  width: 68%;
}

.cart__total {
  display: grid;
  align-items: center;
}

.cart__payment {
  align-items: center;
  display: grid;
  justify-content: right;
}

.cart__payment button {
  background: #3565f2;
  border-radius: 999px;
  border: none;
  color: #fff;
  font-weight: bold;
  outline: none;
  padding: 0.5rem 1rem;
}

.cart__payment button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.wishlist__container {
  padding-top: 3.5rem;
  text-align: center;
}

.wishlist__item {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 2rem;
  margin: 0 auto;
  padding: 2rem;
  width: 68%;
}

.wishlist__item-left {
  display: flex;
}

.wishlist__item-img img {
  height: 5rem;
  object-fit: cover;
  width: 5rem;
}

.wishlist__item-info p {
  font-weight: bold;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
}

.wishlist__item-right {
  align-items: center;
  display: grid;
  justify-content: right;
}

.wishlist__item-right button {
  background: #ef4444;
  border: none;
  color: #fff;
  font-weight: bold;
  outline: none;
  padding: 1rem;
}

.wishlist__item-right button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.payment__container {
  display: grid;
  height: 100vh;
  justify-content: center;
  padding-top: 3.5rem;
  width: 100vw;
}

.chat__container { 
  height: calc(100vh - 8rem);
}